* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
}

.header {
    width:100%;
    text-align: center;
    padding: 5px;
    position: fixed;
    background:rebeccapurple;
    color:aliceblue ;
}

.chat-box{
    width:100%;
    position: fixed;
    top:40px;
    bottom:40px;
    display:flex;
    justify-content: center;
    /* border-top:1px solid rgb(198, 212, 236); */
    overflow:auto;
}

.chat-box::-webkit-scrollbar {
    display: none;
  }
ul{
    width: 420px;
}
li {
    max-width: 100%;
    word-wrap: break-word;
    padding: 5px 10px;
    text-align: left;
    list-style: none;
}

li:nth-child(odd) {
    background: rgb(198, 212, 236);
}

.send-line {
    height: 40px;
    width: 100%;
    position: fixed;
    background:rebeccapurple;
    bottom: 0;
}

.send-line form{
    width:100%;
    display: flex;
    justify-content: center;
}

.send-line input {
    width: 360px;
    height: 20px;
    padding: 5px;
    margin: 5px;
    border: none;
    outline: none;
}

.send-line button {
    padding: 5px;
    margin: 5px 0;
    margin-right: 5px;
    cursor: pointer;
}

#err{
    font-family: inherit;
    text-align: center;
    color: red;
}

