* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    position: relative;
    background:aliceblue ;
}



.leftside {    
    background-color: aliceblue;
    width: 40%;
    border-right: 1px solid rgb(241, 206, 206);
}

.rightside {
    background-color: #fff;
    width: 60%;
    height: 100vh;
}

#current-chat-not-selected{
    position: relative;
    top:250px;
    margin:auto;
    border:1px solid rebeccapurple;
    border-radius: 15px;
    padding:10px;
    color:rebeccapurple;
    background: #fff;
}

.chat-list {
    width: 40%;
    position: fixed;
    top: 50px;
    overflow: auto;
    bottom: 1px;
    border-right: 1px solid rgb(241, 206, 206);
}

.chat-list ul {
    background: #fff;
    width: 100%;
}

.chat-list li {
    height: 50px;
    padding: 15px;
    position: relative;
    display: flex;
    list-style: none;
    color: rebeccapurple;
    border-bottom: 1px solid rgb(241, 206, 206);
    font-size: large;
    cursor: pointer;
    text-overflow: clip;
    white-space: nowrap;
    overflow:hidden;
}

.chat-list p{
    text-overflow: clip;
    white-space: nowrap;
    max-width:95%;
    overflow:hidden;
    margin: 0px 10px;
}

.active-chat {
    background: rgb(225, 241, 241);
}

.leftheader {
    width: 40%;
    height: 50px;
    padding: 10px;
    position: fixed;
    display: inline-block;
    background:rebeccapurple;
    border-bottom: 1px solid rgb(241, 206, 206);
    border-right: 1px solid rgb(241, 206, 206);
}

.header {
    float: left;
    color:#fff;
}

.menu {
    height: 30px;
    width: 30px;
    padding: 5px;
    border-radius: 50%;
    display: grid;
    float: right;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.active-menu{
    background-color: rgb(119, 119, 201);
}

.dot {
    height: 3px;
    width: 4px;
    margin-bottom: 2.5px;
    background-color:#fff;
    border-radius: 50%;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f1f1f1;
    right: 61%;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    margin: 0 0;
}

.dropdown-content li:hover {
    background-color: rgb(240, 225, 225);
}

.right-side-header {
    width: 60%;
    height: 50px;
    text-align: left;
    padding: 10px;
    position: fixed;
    background: rebeccapurple;
    border-bottom: 1px solid rgb(241, 206, 206);
}

.chat-box {
    scrollbar-width:thin;
    width: 60%;
    position: fixed;
    top: 50px;
    bottom: 50px;
    overflow: auto;
}

.chat-box ul {
    width: 100%;
}

.chat-box li {
    margin: 5px 10px;
    position: relative;
    display: flex;
    list-style: none;
}

.chat-box p {
    position: relative;
    word-wrap: break-word;
    border: 1px solid rgb(241, 206, 206);
    border-radius: 10px;
    right: 0;
    text-align: left;
    max-width: 65%;
    padding: 10px;
    background: #cfcaee;
}

.mymessage {
    justify-content: flex-end;
}

.mymessage p {
    background-color: rgb(225, 241, 241);
}

.updates{
    justify-content: center;
}
.send-line {
    height: 50px;
    width: 60%;
    position: fixed;
    background: rebeccapurple;
    border-top: 1px solid rgb(241, 206, 206);
    bottom: 0;
}

.send-line form {
    width: 100%;
    display: flex;
    justify-content: center;
}

.send-line input {
    width: 90%;
    height: 30px;
    padding: 5px;
    margin: 10px;
    outline: none;
}

.send-line button {
    background:#fff;
    padding: 10px;
    margin: 7px 0;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    color: rebeccapurple;
    font-weight: 100px;
    border-radius: 50%;
}

#err {
    font-family: inherit;
    text-align: center;
    color: red;
}

.modal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-container {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
}

#modal-container label {
    color: #3a19f5;
}

#modal-container input {
    width: 100%;
    padding: 5px 0;
    margin: 5px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #3a19f5;
    background: transparent;
}

#modal-container button {
    background: transparent;
    color: #3a19f5;
    border: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

#modal-container button:hover {
    background: #cfcaee;
}

.show {
    display: block;
}

.hide{
    display:none;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    max-width: 350px;
}

.modal-body {
    padding: 10px;
}

.scrollable-content {
    display:none;
    padding:10px 0px;
    max-height: 350px;
    overflow-y: auto;
    border-top: 1px solid rgb(241, 206, 206);
    border-bottom:1px solid rgb(241, 206, 206) ;
}

.modal-body input {
    padding: 5px 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #3a19f5;
    background: transparent;
}

.modal-body button {
    background: transparent;
    color: #3a19f5;
    border: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
}

.modal-body button:hover {
    background: #cfcaee;
}

#get-old-messages{
    display: flex;
    justify-content: center;
}

#get-old-messages button{
    background: transparent;
    color: #3a19f5;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
}

